<div class="container">
    <br>
    <br>
    <br>
    <br>
    <a class="waves-effect waves-light btn #880e4f pink darken-4" href="/auth/google">
        <span>Sign in with Google</span>
        <img height="30" src="https://icon-library.com/images/sign-in-with-google-icon/sign-in-with-google-icon-19.jpg" alt="Sign in with Google">
    </a>
    <br>
    <br>
    <a class="waves-effect waves-light btn #3b5998 blue darken-3" href="/auth/facebook">
        <span>Sign in with Facebook</span>
        <img height="30" src="https://www.facebook.com/images/fb_logo.png" alt="Sign in with Facebook">
    </a>
    <br>
    <br>
    <a class="waves-effect waves-light btn #0077B5" href="/auth/linkedin">
        <span>Sign in with LinkedIn</span>
        <img height="30" src="https://www.vite.biz/app/Design/Icon/linkedinButton.png" alt="Sign in with LinkedIn">
    </a>
    <br>
    <br>
    <a class="waves-effect waves-light btn #1DA1F2" href="/auth/twitter">
        <span>Sign in with Twitter</span>
        <img height="30" src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png" alt="Sign in with Twitter">
    </a>
</div>
